<html ng-app="baseballStatsApp">
<head><title>Angular Baseball Stats</title>

</head>

<body ng-controller="TeamsCtrl">
  <div>
<div class='well'><h2>Angular Baseball Stats</h2></div>
  <div class="row">
  <div class="col-md-2">
    <div class="table-responsive">
  <table class="table">
    <th>NL West</th>
    <tr ng-repeat="team in teams | filter: 'NL West' ">
    <td >{{team.name}}</td>
  </tr>
  </table>
</div></div>
  
  <div class="col-md-2"> <div class="table-responsive">
  <table class="table">
    <th>NL Central</th>
    <tr ng-repeat="team in teams | filter: 'NL Central' ">
    <td >{{team.name}}</td>
  </tr>
  </table>
</div></div>
  <div class="col-md-2"> <div class="table-responsive">
  <table class="table">
    <th>NL East</th>
    <tr ng-repeat="team in teams | filter: 'NL East' ">
    <td >{{team.name}}</td>
  </tr>
  </table>
</div></div>
  <div class="col-md-2"> <div class="table-responsive">
  <table class="table">
    <th>AL West</th>
    <tr ng-repeat="team in teams | filter: 'AL West' ">
    <td >{{team.name}}</td>
  </tr>
  </table>
</div></div>
  <div class="col-md-2"> <div class="table-responsive">
  <table class="table">
    <th>AL Central</th>
    <tr ng-repeat="team in teams | filter: 'AL Central' ">
    <td >{{team.name}}</td>
  </tr>
  </table>
</div></div>
  <div class="col-md-2"> <div class="table-responsive">
  <table class="table">
    <th>AL East</th>
    <tr ng-repeat="team in teams | filter: 'AL East' ">
    <td >{{team.name}}</td>
  </tr>
  </table>
</div>
</div>
</div></div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
<script type="text/javascript" src='controllers/teamsCtrl.js'></script>
</body>
</html>